<ion-nav-bar class="bar bar-header bar-dark">

    <ion-nav-back-button>
        <button class="button"  ng-click="goTo('demo')">
            <i class="ion-arrow-left-a"></i>
        </button>
    </ion-nav-back-button>

</ion-nav-bar>
<ion-view ng-controller="AdminCtrl" title="Temporary Demo Menu">
 



        <ion-content padding="false" class="has-header">

           
            <div class="spacer" style="height: 100px;"></div>
            <form>

                <div class="spacer" style="height: 40px;"></div>
                <button ng-click="reset()" class="button button-dark button-block  icon-left ion-android-lock button-full">Delete All Information</button>

            </form>
        </ion-content>

    </ion-view>
